h1 Query ##{params[:id]} - #{@query.fields.count} fields - #{@query.time.round(2)}ms 

h2 Variables
pre.code=@query.query.provided_variables.to_json

h2 10 slowest fields
= render "graphql_metrics/shared/fields", fields: @query.fields.sort_by {|x|x.time}.reverse.take(10)

/ =JSON.pretty_generate(ok(@query))
h2 Query
pre.code=@query.to_query_string

h2 Result
pre.code=JSON.pretty_generate(@query.query.result["data"])

h2 All fields
= render "graphql_metrics/shared/fields", fields: @query.fields